<div class="zealandBanner">
  <nav class="navbar navbar-transparent">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand glyphicon glyphicon-chevron-left " href="/"></a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="col-md-6 olzealand">
    <h1>Ol' Zealand</h1>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3 efficient">
    <p>A Tour Of New Zealand's West Coast Via Man's Most Efficient Machine</p>
  </div>
</div>

<div class="container topspace">
  <br><br><br>
    <div class="bottomspace">
      <% @blogs.each do |blog| %>
        <div class="col-md-12 title">
            <h3><%= link_to blog.title, blog_path(blog) %></h3>
          <div class="downandDistance">
            <legend><p>Distance: <%= blog.distance %> || Time: <%= blog.time %> || <%= blog.date %></p></legend>
          </div>
            <br><br>
        </div>
        <div class="col-md-3 mapspace">
          <% if blog.mapimage.url(:medium) == "/images/medium/missing.png" %>
          <% else %>
          <br>
            <%= image_tag blog.mapimage.url(:medium), class: "mapimage"%>
          <% end %>
        </div>
        <div class="col-md-8">  <br><br>
          <div class="tdspace">
            <% if blog.descriptions.any? %>
              <% blog.descriptions.each do |description| %>
                <p><%= description.content %></p>
                  <div class="pics">
                    <% if description.pic.url(:standard) == "/images/standard/missing.png" %>
                    <% else %>
                      <br><br>
                      <%= image_tag description.pic.url(:standard), class: "pic"%>
                    <% end %>
                    <br><br>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<br><br><br>
  <% if current_user %>
    <%= link_to "New Post", new_blog_path, class: "btn btn-primary" %>
  <% end %>
