<div class="zealandBanner">
  <nav class="navbar navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-header" id="tip">
        <%= link_to "Blog", blogs_path, class:"navbar-brand glyphicon glyphicon-chevron-left"%>
      </div>
    </div>
  </nav>
    <div class="col-md-6 olzealand">
      <h1>Ol' Zealand</h1>
    </div>
    <div class="col-md-3 col-md-offset-3 efficient">
      <p>A Tour Of New Zealand's West Coast Via Man's Most Efficient Machine</p>
    </div>
</div>

<div class="container">
  <div class="infohead">
    <div class="col-md-12 ">
      <% if current_user %>
        <%= link_to "New Post", new_blog_post_path(@blog), class:"btn btn-default" %>
        <%= link_to "New Image", new_blog_pic_path(@blog), class:"btn btn-default" %>
        <h3>
          <%= @blog.title %>
          <%= link_to "Edit Blog Header", edit_blog_path(@blog), class:"btn btn-default" %>
          <%= link_to "Delete", blog_path(@blog), class:"btn btn-default",
            :data => {:confirm => "Ya sure mate?",
                      :method => "delete"} %>
        </h3>
      <% else %>
        <h2> <%= @blog.title %> </h2><hr>
      <% end %>
    </div>
    <div class="col-md-12 container">
      <div class="col-md-4">
        <% if @blog.mapimage.url(:medium) == "/images/medium/missing.png" %>
        <% else %>
          <%= image_tag @blog.mapimage.url(:medium)%>
        <% end %>
      </div>
        <div class="col-md-8">
            <h3>Distance: <%= @blog.distance %> </h3><hr>
            <h3>Time: <%= @blog.time %></h3><hr>
            <h3>Total Distance: <%= @blog.totaldistance %></h3><hr>
            <h3> <%= @blog.date %></h3><hr>
        </div>
    </div>
  </div>

      <div class="postings">
        <% @dinosaurs.each do |dino| %>
            <% if dino.class == Post %>
            <div class="col-md-12 duff">
              <br>
              <p> <%= dino.content %>
                 <% if current_user %>
                    <%= link_to "Check it", blog_post_path(@blog, dino), class:"btn btn-default" %>
                  <% end %> </p><br><br>
            </div>
            <% elsif dino.class == Pic %>
            <div class="col-md-12">
              <%= image_tag dino.photo.url(:standard) %> <br>
            </div>
            <% end %>
        <% end %>
        <a class="page-scroll" href="#tip">Back To the Top</a>
        <br><br>
      </div>

</div>
