<div class="zealandBanner">
  <nav class="navbar navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand glyphicon glyphicon-chevron-left " href="/"></a>
      </div>
    </div>
  </nav>
    <div class="col-md-6 olzealand">
      <h1>Ol' Zealand</h1>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3 efficient">
      <p>A Tour Of New Zealand's West Coast Via Man's Most Efficient Machine</p>
    </div>
</div>

<div class="container topspace">
  <br><br><br>
    <div class="bottomspace">
    <div class="col-md-12 title">
      <%= link_to "New Post", new_blog_post_path(@blog), class:"btn btn-warning" %>
      <%= link_to "New Image", new_blog_pic_path(@blog), class:"btn btn-primary" %>
      <% if current_user %>
          <h3><%= @blog.title %> <%= link_to "Edit Blog Header", edit_blog_path(@blog), class:"btn btn-default" %>
            <%= link_to "Delete", blog_path(@blog), class:"btn btn-default",
              :data => {:confirm => "Ya sure mate?",
                        :method => "delete"} %></h3>
      <% else %>
          <h3> <%= @blog.title %> </h3>
      <% end %>
            <br><br>
        </div>
        <div class="col-md-12 center">
          <div class="col-md-4">
            <% if @blog.mapimage.url(:medium) == "/images/medium/missing.png" %>
            <% else %>
              <%= image_tag @blog.mapimage.url(:medium)%>
            <% end %>
          </div>
            <div class="col-md-8">
              <div class="downandDistance">
                <h3>Distance: <%= @blog.distance %> </h3><hr>
                <h3>Time: <%= @blog.time %></h3><hr>
                <h3> <%= @blog.date %></h3><hr>
              </div>
            </div>
        </div>
          <div class="col-md-12 center">
            <% @dinosaurs.each do |dino| %>
                <% if dino.class == Post %>
                  <h3> <%= dino.content %> </h3><br>
                <% elsif dino.class == Pic %>
                  <% if dino.descript %>
                    <%= image_tag dino.photo.url(:standard), class: "pic" %>
                      <div class="subtext col-md-offset-2">
                        <%= dino.descript.subtext %>
                      </div>
                   <% else %>
                  <% end %>
                <% end %>

            <% end %>
          </div>
      </div>

</div>
