<h2>Log in</h2>

<%= bootstrap_form_for(:user, :url => session_path(:user)) do |f| %>
  <div class="field">
    <%= f.email_field :email, label:"email", autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, label:"Password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
