<div class="home">
  <%= render 'layouts/homenav' %>

  <div class="container">
      <div class="hometext">
        <div class="col-md-12 namer">
          <h1>Travis Crampton</h1>
        </div>
        <div class="col-md-12 jober">
           <h1>Rails Developer</h1>
         </div>
        <div class="col-md-12">
           <h1>San Francisco, CA</h1>
         </div>
        </div>
      </div>
  </div>
</div>

<div id="projects">
  <ul class="cf">
    <hr class="hr_short">
    <div class="project_item">
      <li>
        <%= image_tag ("gitithome.png"), class:"aboutImage" %>
        <div class="wrapper project_overview">
          <a href="https://peaceful-coast-39998.herokuapp.com/" target="blank">
            <h2>Git It Delivery</h2>
            <p>https://peaceful-coast-39998.herokuapp.com/</p>
          </a>
          <p>After shipping my bicycle from California to New Zealand and paying $400.00 to do so, I learned that if I would have packed my bike into a box and put it under the plane I would have saved myself about 300 dollars. So I created this site to connect people already arriving in destinations to bring items to save money on shipping </p>
        <hr>
          <div class="tech">
            <h4>Technology used:</h4>
            <ul>
              <li><p>Bootstap 3</p></li>
              <li><p>CSS3</p></li>
              <li><p>JavaScript</p></li>
              <li><p>Ruby</p></li>
              <li><p>Rails 4</p></li>
              <li><p>SQL</p></li>
              <li><p>Git</p></li>
              <li><p>Capybara</p></li>
              <li><p>Rspec</p></li>
              <li><p>JQuery</p></li>
            </ul>
          </div>
        </div>
      </li>
    </div>
    <hr class="hr_short">


    <div class="project_item">
      <li>
        <%= image_tag ("journalsventur.png"), class:"aboutImage" %>
        <div class="wrapper project_overview">
          <a href="http://ventur.herokuapp.com/" target="blank">
            <h2>Ventur</h2>
            <p>ventur.herokuapp.com</p>
          </a>
          <p>Ventur is a platform for sharing adventure-travel stories with a philanthropic twist - A travel blog that gives users the opportunity to blog their adventures to raise money for causes. </p>
        <hr>
        <div class="tech">
          <h4>Technology used:</h4>
          <ul>
            <li><p>HTML5</p></li>
            <li><p>CSS3</p></li>
            <li><p>Sass</p></li>
            <li><p>Ruby</p></li>
            <li><p>Rails 4</p></li>
            <li><p>SQL</p></li>
            <li><p>Git</p></li>
            <li><p>JavaScript</p></li>
            <li><p>JQuery</p></li>
            <li><p>Capybara</p></li>
            <li><p>Ajax</p></li>
            <li><p>Factory Girl</p></li>
          </ul>
        </div>
        </div>
      </li>
    </div>
    <hr class="hr_short">

    <div class="project_item">
      <li>
        <%= image_tag ("weed_it_and_reap.png") %>
        <div class="wrapper project_overview">
          <a href="https://weed-it-and-reap.herokuapp.com" target="blank">
            <h2>Weed It And Reap</h2>
            <p>weed-it-and-reap.herokuapp.com/</p>
          </a>
          <p>Built this website while at Epicodus, the idea is basically an Airbnb of garden space for those who want to garden but don't have the space at their own house. Users are able to log on and add their own properties to the site that they'd allow to have people come and garden </p>
        <hr>
        <div class="tech">
          <h4>Technology used:</h4>
          <ul>
            <li><p>HTML5</p></li>
            <li><p>CSS3</p></li>
            <li><p>Ember.js</p></li>
            <li><p>Firebase</p></li>
            <li><p>Git</p></li>
            <li><p>JavaScript</p></li>
            <li><p>Node.js</p></li>
          </ul>
        </div>
        </div>
      </li>
    </div>
    <hr class="hr_short">
  </ul>
</div>

  <div id="contact">
    <div id="formShow">
      <%= render "contacts/form" %>
    </div>
  </div>

	<div id="footer" class="cf">
		<div class="copyright">
			<strong><p>&copy; 2016 Tr<%= link_to "a", new_user_session_path %>vis Crampton</p></strong>
		</div>
		<nav class="footer_nav">
			<div class="links">
					<a href="https://github.com/traviscrampton" target="blank" ><i class="fa fa-github"></i></a>
					<a href="https://www.linkedin.com/in/traviscrampton" target="blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://www.instagram.com/traverser" target="blank"><i class="fa fa-instagram"></i></a>
			</div>
		</nav>
	</div>
